{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }

</style>

<!-- Sidebar Widgets Column -->
<aside class="">
<div class="card">
        <h4 class="card-header">About Us</h4>
    <div class="card-body">
        <p class="card-text">
            <strong>Why Analytics Hub?</strong><br /> 
            Success is repeatable. We find previous success drivers. We search everywhere. 
            Create it, if necessary. Adapt it for your business.<hr />
            <strong>What Excites Us?</strong><br /> Business Growth. Skill Development. Local Impact. Global Relevance.<hr />
            <strong>What's Our Task?</strong> <br />Plan, Execute and Optimize technological solutions to business problems.
            <hr />
        </p>
        <a href="mailto:ezekiel.obhafuoso@analyticshub.tech?Subject=Hello%20" target="_top"
           class="btn">Have feedback? <br>Send us a Mail</a>
    </div>
</div>
</aside>

{% endblock sidebar %}
