{% extends 'mainWebsite/index.html' %}
{% load static%}
{% block page_heading %}
<h2><strong>{{service.name}}</strong></h2>

   <p><small>
       {{service.sales_point}}

       </small>
   </p>
{% endblock %}
{% block replace_indexhtml_content %}

        <div class="row" style="margin: 50px 20px 0 20px;">

            
                <div class="col-md-8">
                    <div class="card mb-4">
                        <h4 class="card-header">Recent Blog Posts</h4>
                      
                    {% for post in list_of_post %}
                    {% if post.service == service %}
                    
                    <div class="card mb-4">
                        <div class="card-body">
                            <p class="card-department h6">{{ post.stage}} | {{post.industry}}</p>
                            <h2 class="card-title">{{ post.title }}</h2>
                            <p class="card-text text-muted h6">{{ post.author }} | {{ post.created_on}} </p>
                            <p class="card-text">{{post.content|slice:":200" | safe}}</p>
                            <div class="text-center"><a href="{% url 'post_detail' post.slug  %}" class="btn">Read More &rarr;</a></div>
                        </div>
                    </div>
                  
                    {% endif %}
                    {% empty %}
                    <div class="card-body">
                        No related post at this time
                    </div>  
                    {% endfor %}                       

            </div>
                </div>
                <div class="col-md-4">
                    {% include 'snippets/sidebar.html' %}
                </div>
            
        </div>

{% endblock %}
